<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>
    
    <link rel="stylesheet" href="/presentation/css/styles.css">
    <link rel="stylesheet" href="/presentation/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">MA<strong>DNL</strong></a></h1>
        <ul>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </header>
      
      {{content}}
      
      <footer>
        <p><small>Copyright &copy; 2013 Marius-Andrei Danila. All right reserved</small></p>
      </footer>
    </div>
    <script src="/presentation/js/scale.fix.js"></script>
  </body>
</html>