<!DOCTYPE html>
<html lang="en" prefix>
  <head>
	  <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The personal blog of Marius-Andrei Danila">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/presentation/css/main.css">
    <link rel="stylesheet" type="text/css" href="/presentation/css/syntax.css">
  </head>
  <body class="container">

    <header>
      <div class="header">
        <img src="/presentation/img/plane.png" class="personal-logo">
        <h1 class="site-name"><a href="/index.html" class="title-link">madnl</a></h1>
        <p class="lead">Personal blog of Marius-Andrei Danila</p>
      </div>
    </header>

    <div class="content">
      {{content}}
    </div>

  </body>
</html>