---
layout: default
---


<section class="post">

  <h1 class="post-title">{{page.title}}</h1>

  {{content}}

</section>

  

<nav class="share">
  <label>If you liked this post, share it!</label>

  <div class="share-item">
    {% include twitter.widget.html %}
  </div>
  <div class="share-item" id="gplus-share">
    {% include gplus.widget.html %}
  </div>
  <div class="share-item" id="fb-drawer">
    {% include facebook.widget.html %}
  </div>
</nav>
  
<!-- <div style="position: fixed; right: 300px; top: 140px;">
  <div><img src="/presentation/img/twitter.png" style="max-height: 48px;"></img></div>
  <div><img src="/presentation/img/fb.png" style="max-height: 48px;"></img></div>
  <div><img src="/presentation/img/google+.png" style="max-height: 48px;"></img></div>
</div>
 -->
